.about{
    color: #246F6F;
    text-align: center;
}
.h3{
    color: #909090;
    align-items: center;
    text-align: center;
    font-size: 100%;

}
.sw{
    width: 80%;
    padding-left: 18%;
    padding-top: 2%;
}